<script src="{{ '/assets/js/modules/theme.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/modules/navbar.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/modules/animation.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/modules/skeleton.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/modules/search.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/modules/graph.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/modules/cursor.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/modules/sound.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/modules/easter.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/modules/code.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>
