{%- assign cache_buster = site.time | date: "%s" -%}
<script src="{{ '/assets/js/modules/theme.js' | relative_url }}?v={{ cache_buster }}" defer></script>
<script src="{{ '/assets/js/modules/navbar.js' | relative_url }}?v={{ cache_buster }}" defer></script>
<script src="{{ '/assets/js/modules/animation.js' | relative_url }}?v={{ cache_buster }}" defer></script>
<script src="{{ '/assets/js/modules/skeleton.js' | relative_url }}?v={{ cache_buster }}" defer></script>
<script src="{{ '/assets/js/modules/search.js' | relative_url }}?v={{ cache_buster }}" defer></script>

<script src="{{ '/assets/js/modules/code.js' | relative_url }}?v={{ cache_buster }}" defer></script>
<script src="{{ '/assets/js/modules/terminal.js' | relative_url }}?v={{ cache_buster }}" defer></script>
<script src="{{ '/assets/js/modules/brushbuddy.js' | relative_url }}?v={{ cache_buster }}" defer></script>
